body{
    font-family: 'Open Sans', sans-serif;
    Color: #333;
    background-color: #AC9C8D;
}

  .card{
    background-color: #72383D;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color:#D9D9D9;
}

.custom-button {
    background-color: #D9D9D9; 
    color: #322D29;
    border: 2px solid #AC9C8D; 
}
  
.custom-button:hover {
    background-color: #72383D; 
    border-color: #D9D9D9; 
    color: #D9D9D9;
}

.send-button {
    background-color: #D9D9D9; 
    color: #322D29;
    border: 2px solid #AC9C8D; 
}

.send-button:hover {
    background-color: #322D29; 
    border-color: #D9D9D9; 
    color: #D9D9D9;
}