.card{
    background-color: #72383D;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color:#D9D9D9;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    color:#D9D9D9;
}

.card-text {
    color:#D9D9D9;
}

